*
{
    padding:0; 
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #e2e2e2 ;
    padding: 7vh 2vh 2vh 2vh;
}

@font-face {
    font-family: 'Braille1';
    src: url('../BRAILLE1.ttf');
}

.navbar li a, .navbar .navbar-brand { 
    color: #000000 !important;
  }
.row{
    height: 90vh;
    padding: 2vh;
    overflow: scroll;
}
.col-sm-4, .col-sm-8{
    height: 100%;
    font-family: futura, sans-serif;
}
.col-sm-4{
    background-color: #d9d9d9;
}
.col-sm-8{
    background-color: #ffffff;
}

input{
    border: none;
    border-radius: 4px;
    width: 100%;
    padding : 1%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin: 4px;
}
select{
    border: none;
    width: 100%;
    padding : 1%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 4px;
    margin: 4px;
}
table{
    width:95% !important;
    line-height: 20px !important;
}
textarea{
    border: none;
    border-radius: 4px;
    margin: 4px;
    width: 100%;
    padding : 1%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    height: 80px;
}
.select-shape{
    height: 25%;
    overflow: scroll;
    padding: 5px 5px 5px 18px !important;
    border-radius: 10px;
    background-color: #e2e2e2;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin-bottom: 20px;
    max-height: max-content;
}
.inputpara{
    height: max-content;
    padding-bottom: 13px !important;
}

input[type=radio]{
    width:auto !important;
    padding : none;
    box-shadow:none;
    margin: 4px;
}
.generate-btn{
    padding: 7px 30px;
    background-color: #666666;
    box-shadow: -4px 4px 0px 0px #b0b0b0;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    float:inline-end;
}
.generate-btn:hover{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.generate-btn:active{
    box-shadow:-4px 2px #b0b0b0 !important;
    transform: translateY(2px) !important;
}


.ink input{
    width: 70px;
    padding: 2px;
}

/* dropdown */
.dropbtn {
    color: white;
    background-color: #d9d9d9;
    margin: 8px 7px 0 0 ;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: absolute;
    right: 0;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: max-content;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 3;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn { color: #666666;}

  #htmlContent{
    overflow-wrap: normal;
    padding: 2%;
  }
 .hi2{
    margin-left: 1%;
    margin-right: 1%;
  }
.hi3{
    margin: 5% 1% 0 1%;
}

.scroll-div {
    overflow-y: scroll;
}

    .scroll-div::-webkit-scrollbar {
        display: none;
    }